---
import BaseLayout from '../../layouts/BaseLayout.astro';

const pageTitle = "clap";
const pankuzuLists =[
  {name: pageTitle }
]

import type { GetStaticPathsOptions } from 'astro';
export async function getStaticPaths({ paginate }:GetStaticPathsOptions) {
  const allPosts = await Astro.glob('./*.md');
  return paginate(allPosts, { pageSize: 1 });
}
// ページネーションされたデータは、すべて"page"プロパティとして渡されます
const { page } = Astro.props;
---
<BaseLayout pageTitle={pageTitle} pankuzu ={pankuzuLists}>
  <main id="clap">
    <p class="naiyou_memo"> ※拍手ありがとうございました！※<br> ※お礼は現在{page.total}種類です※ </p>
    <div set:html={page.data.map((post)=> post.compiledContent())}>
    </div>

    <div class="clap_repeat boder_dashed">
      <p class="mb1em">メッセージなしでも送れます。</p>
      <form name="clap" method="post" action={page.url.prev ? page.url.prev : page.url.next} data-netlify="true" data-netlify-honeypot="bot-field">
        <div style="display: none;">
          <input name="bot-field" />
        </div>
        <textarea name="message">ぱちぱち</textarea>
        <button type="submit">clap</button>
      </form>
    </div>
  </main>
</BaseLayout>