---
import '../styles/reset.css';
import '../styles/style.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const pageTitle = "サイト名";
const pankuzuLists =[
  {name: pageTitle }
]
---
<html lang="ja">
<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/svg+xml" href="/favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content={Astro.generator} >
  <title>{pageTitle}</title>
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta name="robots" content="noindex, follow" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400|Noto+Serif+JP:300,400,500&subset=japanese" rel="stylesheet">
</head>
<body>
  <div class="wrap">
    <Header tit="index" />
    <main id="enter">
      <p>夢小説機能のついたAstroのテンプレートのデモページです。</p>
      <p>ログインパスワードは「000」</p>
      <div class="pass_from">
        <label for="pass">password</label>
        <input name="pass" type="password" class="" id="pass">
        <button type="submit" id="enterPage">enter</button>
      </div>
      <p id="search-result"></p>
    </main>
    <Footer pankuzuLists={[
      { name: pageTitle }
    ]}/>
  </div>
  <script>
    import "../scripts/index.js";
  </script>
</body>
</html>