---

import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "info";
const pankuzuLists =[
  {name: pageTitle }
]
---
<BaseLayout pageTitle={pageTitle} pankuzu ={pankuzuLists}>
  <main id="info">
    <h2 class="tit_normal">-about-</h2>
    <p> 二次創作同人サークル「スモツ」の倉庫サイトです。 </p>
    <p> 現在は自分のためのとうらぶ長谷部夢を置いています。<br /> 拙い文章ですが性癖を詰めております。<br /> 個人の趣味で作成しておりますので、実在するすべてのものと無関係です。<br /> 記載の内容を夢小説について知らない人が見れるところに置いたり、ゲームや刀剣の公式団体様やイラストレーター様に知らせたりするのはやめてください。 </p>
    <p> 2022/2/23:脳内が落ち着いたので一旦更新休止(倉庫化)しました </p>
    <h3 class="tit_normal">-map-</h3>
    <p>
      <a href="./">info</a>…ここ<br />
      <a href="/txt/">txt</a>…夢置き場。糖度高め。名前を呼んでほしいので現パロ多めです。<br />
      clap…拍手です。現在お礼2種<br />
    </p>
    <p>
      <a href="/rss.xml" target="_blank">RSS</a>も用意しています<br>
      リンク先のURLをお使いのRSSリーダーに設定してください。
    </p>
    <h3 class="tit_normal">-pass-</h3>
    <p> 裏っぽいものは個別にパスをつけています。<br /> 未成年の方、小説と現実を混同されがちな方は読むのをご遠慮ください。<br /> パスワード→上皇陛下の誕生日 </p>
    <h3 class="tit_normal">-master-</h3>
    <p> サークル名：スモツ<br> サークル主：げそ[<a href="/message">〒</a> / <a href="/re">re;</a> / <a href="//www.pixiv.net/member.php?id=675880" target="_blank" rel="me">pixiv</a> / <a href="//chikuwageso-log.tumblr.com/" target="_blank" rel="me">log</a>]<br /><br> げそとお呼びください。大昔に成人済みのへしさに♀沼民。<br /> 絶対にネタ被りが発生するのでpixivつないでおりますが、pixivは絵ばかりです。<br /> なにかありましたら郵便マークからメッセージが送れます。ご利用ください。 </p>
    <h3 class="tit_normal">-site policy-</h3>
    <p> 個人情報の利用目的やアクセス解析などについては<a href="/policy/">こちら</a>で記載しています </p>
  </main>
</BaseLayout>