---

import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "info";
const pankuzuLists =[
  {name: pageTitle }
]
const basePass = import.meta.env.BASE_URL;
---
<BaseLayout pageTitle={pageTitle} pankuzu ={pankuzuLists}>
  <main id="info">
    <h2 class="tit_normal">-about-</h2>
    <p> サイトの概要を書きます。 </p>
    <h3 class="tit_normal">-map-</h3>
    <p>
      <a href="./">info</a>…ここ<br />
      <a href={basePass+"txt/"}>txt</a>…夢置き場。<br />
      clap…拍手です。現在お礼1種。デモでは表示確認用のためフォーム機能はついていません<br />
    </p>
    <p>
      <a href={basePass+"rss.xml"} target="_blank">RSS</a>も用意しています<br>
      リンク先のURLをお使いのRSSリーダーに設定してください。
    </p>
    <h3 class="tit_normal">-pass-</h3>
    <p>
      裏っぽいものは個別にパスをつけています。<br />
      未成年の方、小説と現実を混同されがちな方は読むのをご遠慮ください。<br />
      パスワード→000
    </p>

    <h3 class="tit_normal">-master-</h3>
    <p>
      サークル名：○○<br>
      サークル主：○○[<a href={basePass+"message/"}>〒</a> / <a href={basePass+"re/"}>re;</a> / <a href="#" target="_blank" rel="me">sns</a> / <a href="#" target="_blank" rel="me">blog</a>]<br />
      <br>
      自己紹介などを書きます。<br /> なにかありましたら郵便マークからメッセージが送れます。ご利用ください。 </p>
    <h3 class="tit_normal">-site policy-</h3>
    <p> 個人情報の利用目的やアクセス解析などについては<a href={basePass+"policy/"}>こちら</a>で記載しています </p>
  </main>
</BaseLayout>