---
import BaseLayout from '../layouts/BaseLayout.astro';

import MsgForm from '../components/MsgForm.astro';

const pageTitle = "message";
---
<BaseLayout pageTitle={pageTitle}>
  <main id="message">
    <h2 class="tit_normal">-message-</h2>
    <div class="box_con03">
  <MsgForm />
    </div>
  </main>
</BaseLayout>