---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "policy";
const pankuzuLists =[
  {name: pageTitle }
]
---
<BaseLayout pageTitle={pageTitle} pankuzu ={pankuzuLists}>
  <main id="info">
    <h2 class="tit_normal">-site policy-</h2>
    <h3 class="tit_middle">個人情報の利用目的</h3>
    <p> お問い合わせの際に名前やメールアドレス等の個人情報を入力いただく場合があります。取得した個人情報は、お問い合わせに対する回答や必要な情報を電子メールなどでご連絡する場合に利用させていただくものであり、これらの目的以外では利用しません。<br><br>
      <a href="/sumotsu_a">インデックスページ</a>や、小説閲覧時のパスワード認証、および夢小説機能ではブラウザにデータを保管しており、当サイトがデータを収集することはございません。
    </p>
    <h3 class="tit_middle">アクセス解析について</h3>
    <p> 当サイトでは訪問者数の確認のため、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。<br> このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。このトラフィックデータは匿名で収集されており、個人を特定するものではありません。 </p>
    <h4 class="tit_middle">広告について</h4>
    <p> 当サイトでは広告は表示しておりません。<br> また、ホスティングサービス側でも現時点（2024年2月）広告は配信されていません。<br> 当サイト内で広告が表示されている場合、攻撃者による悪意ある改ざんの可能性が高いため、決してクリックしないでください。<br> また、可能でしたら<a href="/sumotsu_a/message/">問い合わせフォーム</a>よりご連絡いただけますと幸いです。 </p>
    <h3 class="tit_middle">情報の正確性・安全性について</h3>
    <p> 小説の内容はいずれもフィクションで、必ずしも現実世界と一致するように創作しておりません。また、当サイトの保全には可能な限り気を付けておりますが、個人管理につき追いつかないこともあるかもしれません。<br><br> 当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。 </p>
    <h3 class="tit_middle">著作権について</h3>
    <p> 当サイトに掲載している文章や画像などについては、転載することを禁止します。<br> 当サイトは著作権の侵害を目的としたものではありません。著作権に関して問題がございましたら、<a href="/sumotsu_a/message/">問い合わせフォーム</a>よりご連絡ください。迅速に対応いたします。 </p>
  </main>
</BaseLayout>