---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "re";
const pankuzuLists =[
  {name: pageTitle }
]
---
<BaseLayout pageTitle={pageTitle} pankuzu ={pankuzuLists}>
  <main id="re">
    <h2 class="tit_normal">-re-</h2>
    <article class="replay">
      <h3 class="tit">
        <span class="date">YYYY.MM.DD 受信</span> 匿名 さま
      </h3>
      <p class="honbun"> テキストデータです </p>
    </article>
    <article class="replay">
      <h3 class="tit">
        <span class="date">YYYY.MM.DD 受信</span> 匿名 さま
      </h3>
      <p class="honbun"> テキストデータです </p>
    </article>
    <article class="replay">
      <h3 class="tit">
        <span class="date">YYYY.MM.DD 受信</span> 匿名 さま
      </h3>
      <p class="honbun"> テキストデータです </p>
    </article>
    <div class="pagenation">
      <ul>
        <li class="prev">
          <a href="#">&lt;</a>
        </li>
        <li class="cur">
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li class="next">
          <a href="#">&gt;</a>
        </li>
      </ul>
    </div>
  </main>
</BaseLayout>
