---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "top";
const pankuzuLists =[
  {name: pageTitle }
]
---
<BaseLayout pageTitle={pageTitle} pankuzu ={pankuzuLists}>
  <main id="index">
    <p class="txt_update">
      <!-- <a href="./novel/3/">0906</a> / txt 短編 +1 --> 240229 / サイト移転<br />
    </p>
    <p class="notice"> 2022/02/23から更新休止中(倉庫化) </p>
    <h2 class="tit_small">登録サーチ↓</h2>
    <a href="#" title="" target="_blank">サーチ名</a>
  </main>
</BaseLayout>