---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "top";
const pankuzuLists =[
  {name: pageTitle }
]
---
<BaseLayout pageTitle={pageTitle} pankuzu ={pankuzuLists}>
  <main id="index">
    <p class="txt_update">
      <a href="../txt/short/">0906</a> / txt 短編 +1
    </p>
    <p class="notice">お知らせエリアです<br>告知など</p>
    <h2 class="tit_small">登録サーチ↓</h2>
    <a href="#" title="" target="_blank">サーチ名</a>
  </main>
</BaseLayout>