---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "top";
const pankuzuLists =[
  {name: pageTitle }
]
---
<BaseLayout pageTitle={pageTitle} pankuzu ={pankuzuLists}>
  <main id="index">
    <p class="txt_update">
      YYMMDD / サイト移転<br />
    </p>
    <p class="notice">
      お知らせエリアです
      <!-- YYYY/MM/DDよりサイト休止中 -->
    </p>
    <h2 class="tit_small">登録サーチ↓</h2>
    <a href="#" title="" target="_blank">サーチ名</a>
  </main>
</BaseLayout>