---
const { lists } = Astro.props;
interface ListItem {
  path: string;
  name: string;
}
---
{ Astro.url.href !== (Astro.url.origin+"/") && // index以外
<aside id="pankuzu">
  <ul class="">
    <li><a href="/top/">top</a></li>
    {
      lists.map((list: ListItem, index: number) => (
       list.name  !== "top" && ( // top以外
        <li>
          {lists.length - 1 !== index ? (
            <a href={`/${list.path}`}>{list.name}</a>
            ) : (
            <span>{list.name}</span>
            )}
        </li>
       )
      ))
    }
  </ul>
</aside>
}
