---
---
<footer>
  <small class="since">since 2018.09.23</small>
  <small class="policy"><a href="/policy/">site policy</a></small>
  <small class="copywrite">&copy 2018- SUMOTSU, All Rights Reserved.</small>
</footer>