---
import Pankuzu from './Breadcrumb.astro';
const { pankuzuLists } = Astro.props;
---
<Pankuzu lists = {pankuzuLists}/>
<footer>
  <small class="since">since 2018.09.23</small>
{pankuzuLists[0].name !== "スモツ" && // index以外
  <small class="policy"><a href="/policy/">site policy</a></small>
}
  <small class="copywrite">&copy 2018- SUMOTSU, All Rights Reserved.</small>
</footer>