---

import { Image } from 'astro:assets';
import Navigation from './Navigation.astro';
import logoImg from '../images/logo.png';
const {tit} = Astro.props;

---
<header>
  <h1 class="logo">
    <a href={ tit === "index" ? "/" : "/top/" }>
      <Image src={logoImg} alt="SUMOTSU" width="81" height="100" loading="eager" />
    </a>
  </h1>
  <Navigation tit={tit} />
</header>
