---

---
<form method="post" name="message" data-netlify="true">
  <dl class="formTable">
    <dt> ご用件 </dt>
    <dd class="select">
      <select name="ご用件">
        <option value="">選択してください</option>
        <option value="ご質問・お問い合わせ">ご質問・お問い合わせ</option>
        <option value="誤字・サイト不具合の連絡">誤字・サイト不具合の連絡</option>
        <option value="その他">その他</option>
      </select>
    </dd>
    <dt>お名前</dt>
    <dd><input size="20" type="text" class="wide" name="お名前" /></dd>
    <dt>返信要否</dt>
    <dd>
      <div class="box_wrap">
        <input type="checkbox" id="hensinhuyo" name="replay_not_need" value="返信不要">
        <label for="hensinhuyo" class="checkbox01"> 返信不要 </label>
      </div>
      <p class="note">返信不要の場合はチェックを入れてください</p>
    </dd>
    <dt>Mail（半角）</dt>
    <dd><input size="30" type="text" class="wide" name="Email" /></dd>
    <dt>お問い合わせ内容 <span>必須</span></dt>
    <dd><textarea name="お問い合わせ内容" cols="50" rows="5" required></textarea></dd>
  </dl>
  <div class="con_pri">
    <div class="box_pri">
      <div class="box_tori">
        <h3 class="tit_middle">個人情報の利用目的</h3>
        <p> お問い合わせの際に名前やメールアドレス等の個人情報を入力いただく場合があります。取得した個人情報は、お問い合わせに対する回答や必要な情報を電子メールなどでご連絡する場合に利用させていただくものであり、これらの目的以外では利用しません。<br><br>
          <a href="/">インデックスページ</a>や、小説閲覧時のパスワード認証、および夢小説機能ではブラウザにデータを保管しており、当サイトがデータを収集することはございません。
        </p>
      </div>
    </div>
  </div>
  <div class="box_check box_wrap">
    <input type="checkbox" id="policy_check" name="policy_agree" value="プライバシーポリシーに同意する" required>
    <label for="policy_check" class="checkbox01"> プライバシーポリシーに同意する </label>
  </div>
  <p class="btn">
    <span><input type="submit" value="送信" /></span>
  </p>
</form>