---
const {tit} = Astro.props;
---
{tit !== "index" &&
<nav>
  <a href="/info/" class="">info</a>
  <a href="/txt/" class="">txt</a>
  <form name="clap" method="post" action="/clap/clap1" data-netlify="true" data-netlify-honeypot="bot-field">
    <div style="display: none;">
      <input name="bot-field" />
      <textarea name="message">ぱちぱち</textarea>
    </div>
    <button type="submit">clap</button>
  </form>
</nav>
}