---
const {tit} = Astro.props;
---
{tit !== "index" &&
<nav>
  <a href="/sumotsu_a/info/" class="">info</a>
  <a href="/sumotsu_a/txt/" class="">txt</a>
  <a href="/sumotsu_a/clap/clap1/" class="">clap</a>
  {/* <form name="clap" method="post" action="/sumotsu_a/clap/clap1/" data-netlify="true" data-netlify-honeypot="bot-field">
    <div style="display: none;">
      <input name="bot-field" />
      <textarea name="message">ぱちぱち</textarea>
    </div>
    <button type="submit">clap</button>
  </form> */}
</nav>
}