---
const { tit, url , desc , uratarget } = Astro.props;
---
<h3 class="tit_middle"> [<a href={url} id={uratarget}>{tit}</a>]</h3>
<p set:html={desc}></p>

<script>
  import "../scripts/recordurl.js";
</script>