---
---
<p> パスワードを入力してください </p>
<div class="pass_from">
  <label for="pass">password</label>
  <input name="pass" type="password" class="" id="pass">
  <button type="submit" id="passCheck">submit</button>
</div>
<p id="search-result"></p>

<script>
  import "../scripts/ura.js";
</script>