---
import BaseLayout from '../../../layouts/BaseLayout.astro';

import NovelTitle from '../../../components/NovelTitle.astro';
import NameChange from '../../../components/NameChange.astro';

const pageTitle = "小説タイトル";
const pankuzuLists =[
  {name: "txt" ,path:"txt/"},
  {name: pageTitle }
]

---
<BaseLayout pageTitle={pageTitle} pankuzu ={pankuzuLists}>
  <main id="novelList">
    <h2 class="tit_middle">[長編タイトル]</h2>
    <NameChange defaultFamName="高橋" defaultName="真木" classFamName="charmname1" className="charmname3" />
    <ul class="novelLinkList">
      <NovelTitle tit="1. サンプル" url="./novel1/"/>
      <NovelTitle tit="2. 裏サンプル" url="../ura/" uratarget="novel1" />
      <NovelTitle tit="サンプル" url="./novel1/" desc="番外編。説明が追加できます" />
    </ul>
  </main>
</BaseLayout>