---
import BaseLayout from '../../layouts/BaseLayout.astro';
import SeriesTitle from '../../components/SeriesTitle.astro';

const pageTitle = "txt";
const pankuzuLists =[
  {name: pageTitle }
]

---
<BaseLayout pageTitle={pageTitle} pankuzu ={pankuzuLists}>
  <main id="txt">
    <h2 class="tit_normal">-txt-</h2>
    <p class="notice boder_dashed"> 名前変換は次のページです。 </p>

    <SeriesTitle tit="長編タイトル" url="./novelName/" desc="長編の説明<br>改行タグが使えます"/>
    <SeriesTitle tit="中編タイトル" url="./novelName/" desc="中編の説明"/>
    <SeriesTitle tit="中編タイトル（裏）" url="./ura/" desc="中編の説明。小説目次の前にワンクッションページが入ります" uratarget="novelName"/>
    <SeriesTitle tit="短編" url="./short/" desc="短編の説明"/>
    <SeriesTitle tit="拍手ログ" url="./claplog/" desc="下げた拍手置き場"/>

  </main>
</BaseLayout>