---
import BaseLayout from './BaseLayout.astro';

const pageTitle = "clap";
const pankuzuLists =[
  {name: pageTitle }
]

// Netlify formsでお礼の切り替えができないため一旦削除
// const allPosts = Object.values(import.meta.glob('../pages/clap/*.md', { eager: true }));
// let nextPage;
// allPosts.map(function(post, i){
//   const { frontmatter } = Astro.props;
//   if(post.url === frontmatter.url){
//       if(i + 1 === allPosts.length){
//         // 現在の投稿が最後の拍手の場合
//         nextPage =  allPosts[0]
//       }else{
//         nextPage = allPosts[i + 1]
//       }
//   }
// })

---
<BaseLayout pageTitle={pageTitle} pankuzu ={pankuzuLists}>
  <main id="clap">
    <p class="naiyou_memo"> ※拍手ありがとうございました！</p>
    <slot />

    <div class="clap_repeat boder_dashed">
      <p class="mb1em">メッセージなしでも送れます。</p>
      <!-- <form name="clap" method="post" action="/sumotsu_a/clap/clap1/" data-netlify="true" data-netlify-honeypot="bot-field">
        <div style="display: none;">
          <input name="bot-field" />
        </div>
        <textarea name="message">ぱちぱち</textarea>
        <button type="submit">clap</button>
      </form> -->
      <textarea name="message">ぱちぱち</textarea>
      <a href="/sumotsu_a/clap/clap1/" class="clap_dummy_btn">clap</a>

    </div>
  </main>
</BaseLayout>