---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
const pankuzuLists =[
  {name: "txt" ,path:"txt/"},
  {name: frontmatter.series , path:"txt/novelName/"},
  {name: frontmatter.title }
]
---
<BaseLayout pageTitle={frontmatter.title} pankuzu ={pankuzuLists}>
  <main id="novelPage">
  <article class="novel">
    <slot />
  </article>
  <div class="novelInfo">
    <ul class="nav">
      <li class="prev">
        <a href="#">&lt; prev</a>
      </li>
      <li>
        <a href="../">一覧に戻る</a>
      </li>
      <li class="next">
        <a href="#">next &gt;</a>
      </li>
    </ul>
  </div>
</main>
</BaseLayout>
<script>
  import "../scripts/lib/charm.js";
</script>